stages:
  - test

variables:
  PYTHON_VERSION: "3.11"

test:
  stage: test
  image: python:3.11
  script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install black flake8
    - python --version
    - flake8 . --max-line-length=88
    - black --check .
  only:
    - dev
