stages:
  - test
  - lint

variables:
  PYTHON_VERSION: "3.11"

before_script:
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt

test:
  stage: test
  script:
    - pip install pytest
    - pytest tests/ -v
  only:
    - dev

lint:
  stage: lint
  script:
    - pip install black flake8
    - flake8 . --max-line-length=88
    - black --check .
  only:
    - dev
